* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a:hover {
    color: rgba(0, 238, 255, 1);

    opacity: unset 0.3;
}

a {
    color: grey;
    text-decoration: none;
}

header div {
    display: flex;
    gap: 40px;
    padding-left: 500px;
}

span {
    color: rgba(0, 238, 255, 1);
}

main {
    background-color: rgb(16, 11, 50);
    color: white;
}

header {
    background-color: rgb(16, 11, 50);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

main button {
    background: rgba(0, 238, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 238, 255, 1);
    width: 176.58999633789062px;
    height: 45px;
    top: 636.89px;
    left: 129.59px;
    border-radius: 40px;
    border: none;
}

main {
    width: 100%;
    height: 823px;
}

.div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main1 div {
    width: 380.2699890136719px;
    height: 349px;
    top: 143px;
    left: 129.59px;
    border-radius: 20px;
    border-width: 2px;
    background: rgba(50, 57, 70, 1);
    border: 2px solid rgba(31, 36, 45, 1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 20px;
}

.main1 {
    display: flex;
    justify-content: space-around;
}

.div1 {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    padding-left: 100px;
}

.main2 {
    background: rgba(50, 57, 70, 1);
}

h1 {
    text-align: center;
    font-size: 45px;
}

input {
    width: 343px;
    height: 55px;
    top: 7px;
    border-radius: 8px;
}

form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 700px;
    height: 502px;
    top: 198px;
    left: 370px;
    margin: 0 auto;
}

footer {
    background: rgba(50, 57, 70, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background: rgba(0, 238, 255, 1);
    width: 40px;
    height: 40px;
    top: 20px;
    left: 1270.41px;
    border-radius: 8px;

}

@media(max-width:700px) {
    main {
        width: 1024px;
        height: 640px;
    }

    .img {
        width: 358.3900146484375px;
        height: 434.95001220703125px;
        top: 135.72px;
        left: 573.45px;
    }

    .main1 div {
        width: 268.1700134277344;
        height: 337.95001220703125;
        top: 192px;
        left: 92.16px;
        border-radius: 17.6px;
        border-width: 1px;
    }

    .main2 img {
        width: 265.2200012207031;
        height: 177.0800018310547;
        top: 183.19px;
        left: 92.16px;
        border-radius: 17.6px;
    }

    input {
        width: 301.8299865722656px;
        height: 47.380001068115234px;
        top: 6.16px;
        left: 314.17px;
        border-radius: 7.04px;
    }
    textarea{width: 616px;
        height: 236.3800048828125px;
        top: 125.53px;
        border-radius: 7.04px;
        }
}